* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 150px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d69a42;
}

a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
}

#navbar {
    position: fixed;
    top: 0;
    height: 150px;
    line-height: 60px;
    width: 100vw;
    z-index: 10;
    background-color: #fef7ec;
}

.nav-wrapper {
    margin: auto;
    text-align: center;
    width: 70%;
}

/* Intro section */


.intro-wrapper {
    background-image: url("images/red_fortune.png");
    display: grid;
    grid-template-columns: 500px 300px;
    grid-template-rows: auto;
    gap: 20px;
    justify-items: center;
    justify-content: center;
    align-items: stretch;
    height: 500px;
    align-content: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-intro h1 {
    font-size: 50px;
    font-weight: bold;
    color: #921636;
    margin-top: 40px;
}

.text-intro h2 {
    font-size: 36px;
    color: #3f1218;
    line-height: 1.2em;
}

.spacer {
    padding: 20px;
}

.text-intro {
    background-color: #fef7ec;
    padding: 50px 50px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: inline-block;
    text-align: left;
    position: relative;
    bottom: 5px;
}

.img-intro img {
    height: auto;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.about-wrapper {
    grid-column: 1 / span 6;
    display: grid;
    background-color: #fef7ec;
}

.about-text {
    color: #3f1218;
    padding: 20px 60px;
    text-align: center;
    line-height: 1.6em;
}

.about-text h4 {
    font-weight: bold;
    font-size: 24px;
}

.about-text p {
    font-size: 18px;
}

.about-text a {
    color: #921636;
    text-decoration: underline overline #d69a42;
    text-underline-offset: 4px;
}

.projects-wrapper {
    background-color: #d69a42;
    color: #fef7ec;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 50px;
}

.projects-text h3 {
    background-color: #d69a42;
    color: #fef7ec;
    font-size: 30px;
    text-align: center;
    padding: 25px;
}

.box-wrapper {
    background-color: #d69a42;
    display: grid;
    gap: 20px;
    padding: 20px;
    margin-bottom: 50px;
}

h5 {
    font-size: 24px;
    text-transform: uppercase;
}


.box-1 {
    background-color: #3f1218;
    border-radius: 5px;
    text-align: center;
    padding: 30px 20px;
    color: #fef7ec;
    font-weight: 500;
    grid-column: 1 / span 2;
}

.box-2 {
    background-color: #3f1218;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    color: #fef7ec;
    font-weight: 500;
    grid-colum: 3 / span 2;
}

.box-3 {
    background-color: #3f1218;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    color: #fef7ec;
    font-weight: 500;
    grid-column: 5 / span 2;
}

.bio-wrapper {
    background-image: url("images/yes_no.png");
    background-color: #fef7ec;
    height: auto;
    align-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
}

.bio-text {
    background-color: #921636;
    color: #eec3a0;
    border-radius: 5px;
    padding: 30px 50px;
    align-content: center;
}

.bio-text h3 {
    font-size: 30px;
    text-align: center;
}

.bio-text p {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5em;
}

.contact-wrapper {
    background-color: #fef7ec;
    height: 500px;
    padding: 100px;
}

.contact-form h3 {
    color: #921636;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}

/* Contact form styling */

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #921636;
    font-size: 0.875em;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: #3f1218;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #921636;
    font-size: 0.875em;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: #3f1218;
}

input::placeholder,
textarea::placeholder {
    color: #921636;
    font-size: 0.875em;
}

input:focus::placeholder,
textarea::focus:placeholder {
    color: #3f1218;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
    color: #3f1218;
    font-size: 0.875em;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
    color: #3f1218;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
    color: #fef7ec;
    font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
    color: #fef7ec;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
    color: #fef7ec;
    font-size: 0.875em;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
    color: #fef7ec;
}

input:hover::placeholder,
textarea:hover::placeholder {
    color: #fef7ec;
    font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
    color: #fef7ec;
}

input:hover::placeholder,
textarea:hover::placeholder {
    color: #fef7ec;
    font-size: 0.875em;
}

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
    color: #fef7ec;
}


#form {
    position: relative;
    width: 500px;
    margin: 50px auto 100px auto;
}

input {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;

    background: transparent;
    outline: none;
    color: #3f1218;

    border: solid 1px #3f1218;
    border-bottom: none;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

input:hover {
    background: #d69a42;
    color: #e2dedb;
}

textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;

    background: transparent;
    outline: none;

    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;

    border: solid 1px #3f1218;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
    background: #d69a42;
    color: #e2dedb;
}

#submit {
    width: 470px;

    padding: 0;
    margin: -5px 0px 0px 0px;

    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color: #921636;

    outline: none;
    cursor: pointer;

    border: solid 1px #3f1218;
    border-top: none;
}

#submit:hover {
    color: #fef7ec;
}


footer {
    padding: 15px;
    background-color: #d69a42;
    color: #fef7ec;
    text-align: center;

}

@media(max-width: 400px) {
    .intro-wrapper {
        flex-direction: column;
    }
}

/*Mobile styles */
@media(max-width: 768px) {
    .nav-wrapper {
        width: 90%;
    }
}

@media(max-width: 638px) {
    .nav-wrapper {
        width: 100%;
    }
}

.logo {
    float: left;
    margin-left: 28px;
}

@media(max-width: 768px) {
    .logo {
        margin-left: 5px;
    }
}

#navbar ul {
    display: inline-block;
    float: right;
    list-style: none;
    text-align: right;
    transition: transform 0.5s ease-out;
}

@media(max-width: 640px) {
    #navbar ul {
        display: none;
    }
}

@media(orientation: landscape) {
    #navbar ul {
        display: inline-block;
    }
}

#navbar li {
    display: inline-block;
}

#navbar li a {
    display: block;
    font-size: 20px;
    margin: 20px 20px;
    padding: 20px 4px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    cursor: pointer;
    color: #3f1218;
}

#navbar li a:hover {
    color: #921636;
    border-bottom: 1.2px solid #d69a42;
    padding-bottom: 1px;
}



@media(max-width: 640px) {
    .menuIcon {
        cursor: pointer;
        display: block;
        position: fixed;
        right: 15px;
        top: 20px;
        height: 23px;
        width: 27px;
        z-index: 12;
    }

    /* Icon Bars */
    .icon-bars {
        background: rgb(13, 26, 38);
        position: absolute;
        left: 1px;
        top: 45%;
        height: 2px;
        width: 20px;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    .icon-bars::before {
        background: rgb(13, 26, 38);
        content: '';
        position: absolute;
        left: 0;
        top: -8px;
        height: 2px;
        width: 20px;
        /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
        -webkit-transition: 0.3s width 0.4s;
        transition: 0.3s width 0.4s;
    }

    .icon-bars::after {
        margin-top: 0px;
        background: rgb(13, 26, 38);
        content: '';
        position: absolute;
        left: 0;
        bottom: -8px;
        height: 2px;
        width: 20px;
        /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
        -webkit-transition: 0.3s width 0.4s;
        transition: 0.3s width 0.4s;
    }

    /* Bars Shadows */
    .icon-bars.overlay {
        background: rgb(97, 114, 129);
        background: rgb(183, 199, 211);
        width: 20px;
        animation: middleBar 3s infinite 0.5s;
        -webkit-animation: middleBar 3s infinite 0.5s;
    }

    @keyframes middleBar {
        0% {
            width: 0px
        }

        50% {
            width: 20px
        }

        100% {
            width: 0px
        }
    }

    @-webkit-keyframes middleBar {
        0% {
            width: 0px
        }

        50% {
            width: 20px
        }

        100% {
            width: 0px
        }
    }

    .icon-bars.overlay::before {
        background: rgb(97, 114, 129);
        background: rgb(183, 199, 211);
        width: 10px;
        animation: topBar 3s infinite 0.2s;
        -webkit-animation: topBar 3s infinite 0s;
    }

    @keyframes topBar {
        0% {
            width: 0px
        }

        50% {
            width: 10px
        }

        100% {
            width: 0px
        }
    }

    @-webkit-keyframes topBar {
        0% {
            width: 0px
        }

        50% {
            width: 10px
        }

        100% {
            width: 0px
        }
    }

    .icon-bars.overlay::after {
        background: rgb(97, 114, 129);
        background: rgb(183, 199, 211);
        width: 15px;
        animation: bottomBar 3s infinite 1s;
        -webkit-animation: bottomBar 3s infinite 1s;
    }

    @keyframes bottomBar {
        0% {
            width: 0px
        }

        50% {
            width: 15px
        }

        100% {
            width: 0px
        }
    }

    @-webkit-keyframes bottomBar {
        0% {
            width: 0px
        }

        50% {
            width: 15px
        }

        100% {
            width: 0px
        }
    }


    /* Toggle Menu Icon */
    .menuIcon.toggle .icon-bars {
        top: 5px;
        transform: translate3d(0, 5px, 0) rotate(135deg);
        transition-delay: 0.1s;
        transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .menuIcon.toggle .icon-bars::before {
        top: 0;
        transition-delay: 0.1s;
        opacity: 0;
    }

    .menuIcon.toggle .icon-bars::after {
        top: 10px;
        transform: translate3d(0, -10px, 0) rotate(-270deg);
        transition-delay: 0.1s;
        transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .menuIcon.toggle .icon-bars.overlay {
        width: 20px;
        opacity: 0;
        -webkit-transition: all 0s ease 0s;
        transition: all 0s ease 0s;
    }
}


/*======================================================
                     Responsive Mobile Menu 
    ======================================================*/
.overlay-menu {
    background: #d69a42;
    color: #3f1218;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 15px;
    transform: translateX(-100%);
    width: 100vw;
    height: 100vh;
    -webkit-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
}

.overlay-menu ul,
.overlay-menu li {
    display: block;
    position: relative;
}

.overlay-menu li a {
    display: block;
    font-size: 1.8em;
    letter-spacing: 4px;
    /*   opacity: 0; */
    padding: 10px 0;
    text-align: right;
    text-transform: uppercase;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    /*   -webkit-transition: 0.2s opacity 0.2s ease-out;
    transition: 0.2s opacity 0.2s ease-out; */
}

.overlay-menu li a:hover,
.overlay-menu li a:active {
    color: #921636;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}